# Ignorar entorno virtual
vintro/

# Ignorar archivos de base de datos SQLite
*.sqlite3

# Ignorar archivos de compilación
*.pyc
*.pyo
__pycache__

# Ignorar archivos de configuración de IDEs comunes
.vscode/
.idea/
